<% layout("/layouts/boilerplate.ejs") -%>
<body>
    <br><br>
    <div class="row row offset-2">
    <div class="col-8">
    <h3>Edit your listing</h3>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div>
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" value="<%= listing.title %>" type="text" id="title" class="form-control" required>
        <div class="valid-feedback">Title looks good</div>
        </div>
        <br>
        <br>
        <div>
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" id="description" required><%= listing.description %></textarea>
        <div class="invalid-feedback">Please a short description</div>
        </div>
        <br>
        <div class="mb-3 col-md-4">
            Original listing img
            <img src="<%= originalImageUrl %>" alt="" style="height: 10em; width: 8rem;">
        </div>
        <br>
        <div>
        <label for="image" class="form-label">Upload New Image</label>
        <input name="listing[image]"  type="file" id="image" class="form-control">
        <div class="invalid-feedback">Please enter a valid link for img</div>
        </div>
        <br>
        <br>
        <div class="row">
        <div class="col-md-4">
        <label for="price" class="form-label">Price</label>
        <input name="listing[price]" value="<%= listing.price %>" id="price" class="form-control" required>
        <div class="invalid-feedback">Price should be valid</div>
        </div>
        <br>
        <br>
        <div class="col-md-8">
        <label for="country" class="form-label">Country</label>
        <input name="listing[country]" value="<%= listing.country%>" id="country" class="form-control" required>
        <div class="invalid-feedback">Country shouldbe valid</div>
        </div>
        </div>
        <br>
        <br>
        <div>
            <label for="location" class="form-label">Location</label>
        <input name="listing[location]" value="<%= listing.location%>" type="text" id="location" class="form-control" required>
        <div class="invalid-feedback">Location should be valid</div>
        </div>
        <br>
        <button class="btn btn-dark add-btn">edit</button>
        <br><br>
    </form>
    </div>
    </div>
</body>
